{
  "Address": {
    "AddressLine1": "string",
    "AddressLine2": "string",
    "Suburb": "string",
    "PostalCode": "string",
    "State": "string",
    "CompanyName": "string",
    "Country": "string"
  }
}