#%RAML 1.0
title: CalculaterAPI
version: v1
baseUri: http://calculater.in.cloudhub.io/api/{version}
traits: 
  cesheader:
    headers: 
      x-identity:
        displayName: x-identity
        type: string
        required: true
      Channel:
        displayName: Channel
        type: string
        required: false
/calculater:
  /sub:
    get:
      is: [cesheader]    
      description: Subtract two number
      queryParameters:
        num1:
          required: true
          type: integer
        num2:
          required: true
          type: integer
      responses:
        200:
          body:
            application/json:

  /add:
    post:
      is: [cesheader]    
      description: Addition of Two number
      body:
        application/json:
          schema: !include calculater/schema/addReq.json
          example: !include calculater/example/addReq.example
      responses:
        200:
          body:
            application/json:
              schema: !include calculater/schema/addRes.json
              example: !include calculater/example/addRes.example

/address:
  /search:
      get:
        is: [cesheader]    
        description: Address Search String
        queryParameters:
          query:
            required: true
            type: string
          country:
            required: true
            type: string            
          size:
            required: false
            type: integer
        responses:
          200:
            body:
              application/json:
                schema: !include address/schema/addressSearchRes.json
                example: !include address/example/addressSearchRes.example
  /validate:
    /new:
      post:
        is: [cesheader]    
        description: Validate the Address
        body:
          application/json:
            schema: !include address/schema/addressNew.json
            example: !include address/example/addressNew.example
        responses:
          200:
            body:
              application/json:
                schema: !include address/schema/addressValidateRes.json
                example: !include address/example/addressValidateRes.example
    /picked:
      post:
        is: [cesheader]    
        description: Validate the Address
        body:
          application/json:
            schema: !include address/schema/addressPicked.json
            example: !include address/example/addressPicked.example
        responses:
          200:
            body:
              application/json:
                schema: !include address/schema/addressValidateRes.json
                example: !include address/example/addressValidateRes.example